@charset "UTF-8";

/* Сброс стилей */

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'URW Geometric', sans-serif;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

img{
  height: auto;
  width: 100%;
}

a{
  text-decoration: none;
  outline: none;
  color: var(--blue-light);
}
dl, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
}
button{
  outline: none;
}
h1{
  color: var(--blue);
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  margin: 0;
}
h2{
  color: var(--blue);
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}
h3{
  color: var(--blue);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}
input{
  outline: none;
}
p{
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--blue-light);
}


